.site-header {
  background-position: 50% 0px;
  background-image: url("../img/bg.jpg");
}

.header-intro-wrap {
  padding-bottom: 100px;
  text-align: center;
}

.btn-docs {
  background: #20b24b;
  border-color: #20b24b;
}

.footer-info a {
  color: white;
}

@media screen and (max-width: 468px) {
  .logo {
    font-size: 50px;
  }
  .btn-docs {
    border-color: #20b24b;
  }
  .site-header {
  }
  .header-intro-wrap p {
    margin-top: 20px;
  }
  .header-signup {
  }
  .header-intro-wrap .hs-disclaimer {
    margin-top:50px;
  }
  .header-intro-wrap {
    padding-bottom: 50px;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 53.6%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
