// Colors
$white: hsl(0, 0%, 100%);
$dark-grey: #333;
$bright-green: #1fb24b;
$bright-orange: #f18f2b;
$bright-red: #e73e2c;
$bright-purple: #ca2470;

$branding-yellow: hsl(51, 100%, 41%);
$branding-green: hsl(138, 70%, 41%);
$branding-purple: hsl(271, 100%, 10%);


$btn-side-background-color: $bright-green;
$btn-side-text-color: $white;

$btn-side-hover-background-color: $bright-orange;
$btn-side-hover-text-color: $dark-grey;

$btn-side-active-background-color: $bright-red;

$btn-join-background-color: $bright-purple;
