{# START: Site Header #}
<header role="banner" class="site-header parallax" gumby-parallax="0.5">
  <div class="row">
    <!-- START: Intro -->
    <div class="twelve columns header-intro-wrap fadeUpIn">
      <h1 class="logo">PeoplesOpen<span>.net</span></h1>
      <p>People's Open is a community-owned and -operated wireless network in Oakland, California.</p>
      <p>Open source, peer-to-peer internet</p>
      <form action="" class="header-signup">
        <a href="https://peoplesopen.net/byoi" class="btn-side btn-docs btn-grow">Next Workshop</a>
        <a href="join-the-network.html" class="btn-side btn-join">Join the Network</a>
        <a href="how-to-help.html" class="btn-side btn-docs btn-grow">Help us grow</a>
      </form>
      <div class="catch-errors-top"></div>
    </div>
    <!-- /END: Intro -->
  </div>
</header>
{# /END: Site Header #}

<main role="main" class="site-main-content">
  <!-- START: Features Section -->  
  <section id="demo" class="site-section section-testimonials">
    <div class="row">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BS63U1odzZU" frameborder="0" gesture="media" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <!-- /END: Features Section -->
  
  <!-- START: Signup Section -->
  <section class="site-section section-signup">
    <div class="row">
      <div class="twelve columns animate-on-scroll" data-scrollanimation="fadeDownIn">
        <h3 class="signup-title">Want to contribute?</h3>
        <h4 class="signup-subtitle">Learn, Do, Share, Grow.</h4>
      </div>
    </div>
    <div class="row">
      <!-- START: Signup Form Bottom -->
      <div class="eight columns centered">
        <div class="signup-form">
          <a href="join-the-network.html" class="btn-side animate-on-scroll" data-scrollanimation="fadeInLeft">
          <span><i class="icon-heart"></i></span>Join the Network</a>
        </div>  
      </div>
      <!-- /END: Signup Form Bottom -->
    </div>
  </section>
  <!-- /END: Signup Section -->
</main>
